<div class="admin_page">
<h1>New Tools Skill</h1>
<%= link_to "<button class=\"btn btn-primary\">Back</button>".html_safe, tools_skills_path %>
<%= render 'form', tools_skill: @tools_skill %>


</div>
