// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_admin{
  text-align:center;
  color:white;
  font-family:"Open Sans",sans-serif;
  >div.actions button{
    margin-top:2vh;
    >input{
      background-color:transparent !important;
      color:white;
      border:none;
    }
  }
}
img#logoadmin{
  margin-top:-20vh !important;
}
div#adminpanel{
  background-color:rgb(221,221,221);
  text-align:center;
  >button{
    position:absolute;
    right:2vw;
    top:10vh;
    >a{
      color:white;
    }
  }
  >div#Modify{
    margin:4vw;
    >button{
      margin:2vh;
    }
  }
}
