/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

@media only screen and (max-width: 500px) {
  div#intro{
    min-height:40vh;
  }

  div#front-page p{
    padding-left:10vw;
    padding-right:10vw;
    padding-top:10vh;
    text-align:center;
    font-family:monospace;
    color:white;
    font-size:1rem;
  }
}


/*Front page styles */
img#mypic{
   border: 2px solid;
  border-color:white;
  border-width:thick;
  margin-top:8vh;
  border-radius:50%;
  height:23vh;
}

div#intro{
  min-height:90vh;
}

div#bg-page{
  background: image-url('bg-front.jpeg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 0.8;
        position:fixed;
        width:100vw;
        height:100vh;
        top:0px;
        left:0px;
        z-index:-1
}


div#front-page{
  opacity:1 !important;
  z-index:0;
  top: 0;
  left:0;
  text-align:center;
  font-family:monospace;
  font-size:2rem;
}
div#front-page h1{

  margin-top:4vh;

}
div#front-page p{
  padding-left:10vw;
  padding-right:10vw;
  padding-top:10vh;
  text-align:center;
  font-family:monospace;
  color:white;
}

/* Index Navbar */
img#footer{
  width:28px;
}
li.nav-item{
      margin-left:10vw;
}

li.nav-item#right{
      margin-left:22vw;
}
li.nav-item#left{
      margin-left:15vw;
}

div#nav{
  height:65vh !important;
  padding-left:2vw;
  padding-right:2vw;
  padding-top:2vh;

}
div#navcarousel{
  background-color:rgb(47,79,79);/*:image-url('bg_car.jpg') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
i#mypic small{
    margin-left:-3vw;
}
div#mypic{
  position:absolute;
  top:22vh;
  left:44vw;
  z-index:1;
}

div.carousel-item{
  height:40vh !important;
    overflow:hidden;
}

div.carItem{
  width:100% !important;
  height:100% !important;
}

p#headerText{
  color:white;
  padding-left:10vw;
  padding-top:7vh;
font-size:2.5rem;
font-style:bold;
 float:left;
 width:45% !important;
}
img#imgCar{
  padding-top:2vh;
  padding-botom:2vh;
  float:left;
  padding-left:10vw;
  width:40% !important;
}

div#bg-index{
  background-color: #ffffff ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 0.8;
        position:fixed;
        width:100vw;
        height:100vh;
        top:0px;
        left:0px;
        z-index:-1
}


/* Footer styles */
div#footer{
    margin-top:5vh;
    text-align:center;
    width: 100%;

}
div#footer p{
  margin-bottom:0vh;
}
div#footer h6{
  margin-top:0vh;
  padding-top:0vh;
  font-size:0.6em;
  text-align:center;
}
