/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

@media only screen and (max-width: 500px) {
  div#intro{
    min-height:40vh;
  }

  div#front-page p{
    padding-left:10vw;
    padding-right:10vw;
    padding-top:10vh;
    text-align:center;
    font-family:monospace;
    color:white;
    font-size:1rem;
  }
}

a{
  text-decoration: none;
  color:lightgray;
}
a:hover{
    text-decoration: none;
    color:lightgray;
}
/*Front page styles */
img#mypic{
   border: 2px solid;
  border-color:white;
  border-width:thick;
  margin-top:8vh;
  border-radius:50%;
  height:23vh;
}

div#intro{
  min-height:100vh;
}

div#bg-page{
  background: image-url('bg-front.jpeg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 0.8;
        position:fixed;
        width:100vw;
        height:100vh;
        top:0px;
        left:0px;
        z-index:-1
}


div#front-page{
  opacity:1 !important;
  z-index:0;
  top: 0;
  left:0;
  text-align:center;
  font-family:monospace;
  font-size:1.8rem;
}
div#front-page h1{

  margin-top:4vh;

}
div#front-page p{
  padding-left:10vw;
  padding-right:10vw;
  padding-top:10vh;
  text-align:center;
  font-family:monospace;
  color:white;
}

/* Index Navbar */
img#footer{
  width:28px;
}
li.nav-item{
      margin-left:10vw;
}

li.nav-item#right{
      margin-left:22vw;
}
li.nav-item#left{
      margin-left:15vw;
}

div#nav{
  height:65vh !important;
  padding-left:2vw;
  padding-right:2vw;
  padding-top:2vh;

}
div#navcarousel{
  background-color:#3498DB;/*:image-url('bg_car.jpg') no-repeat center center fixed;/*rgb(47,79,79);/*:image-url('bg_car.jpg') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
i#mypic small{
    margin-left:-3vw;
}
div#mypic{
  position:absolute;
  top:22vh;
  left:44vw;
  z-index:1;
}

div.carousel-item{
  height:40vh !important;
    overflow:hidden;
}

div.carItem{
  width:100% !important;
  height:100% !important;
}

p#headerText{

font-family: 'Open Sans', sans-serif !important;
  color:white;
  padding-left:10vw;
  padding-top:7vh;
font-size:2.5rem;
 float:left;
 width:45% !important;
}
img#imgCar{
  padding-top:2vh;
  padding-bottom:2vh;
  float:left;
  padding-left:10vw;
  width:40% !important;
}

div#bg-index{
  background-color: #ffffff ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 0.8;
        position:fixed;
        width:100vw;
        height:100vh;
        top:0px;
        left:0px;
        z-index:-1
}
/* About Body */
div#AboutBody{
  margin-left:2vw;
  margin-right:2vw;
  background-color: rgb(29,29,29);
  border-radius:25px;
}

div#summary{
/*  background-color:rgba(255,255,255,0.8);*/
  color:lightgray;
  border-radius: 25px;
   margin:1vw;
  width:45vw;
  font-size:2.0rem;
  font-style:bold;
  font-size:54px;
  font-weight: 300;
font-family: 'Open Sans', sans-serif !important;
  >p{
    text-align:justify;
    font-size:1.5rem;
    font-style:italic;
  }
}
h2#rightSlide{
  color:black;
  background-color:#F5FFFA;
  position:absolute;left:2vw;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
  border-top-left-radius:25px;
  padding:10px;
}
h2#leftSlide{
  color:white;
  background-color:#3498DB;
  position:absolute;right:2vw;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
  border-top-right-radius:25px;
  padding:10px;
}
div#skillcarousel, div#abilitySkills{
  height:80vh;
  >.carousel-inner{
    width:100%;
    height:100% !important;
    >.carousel-item{
      height: 100% !important;
      >img{

          max-height:100%;
          max-width: 100%;
      }
    }
  }
}
div#plskills{
  width:45vw;

  border-radius:25px;
  margin:2vw;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

}
.grid-item {

  padding: 20px;
  font-size: 30px;
}


/*ability section */
div#ability{
  background-color:#F5FFFA;
  text-align:center;
  margin-left:2vw;
  margin-right:2vw;
  height:80vh;
  border-radius: 25px;
}
div#abilities h2{
      font-size:54px;
      font-weight: 300;
  font-family: Open Sans, sans-serif !important;
}
div#pl{
  margin-left:5vw;
  width:100%;

  >div#plHead{
    font-size:1.3rem;
    float:left;
    >img#pl{
      width:25px;
    }
  }
}

.progress{

  float:left;
  margin-left:2vw;
  margin-top:1.8vh;
  width:15vw;
  height:1vh;
}

/* WorkPage */
div#work , div#workid{
  margin-left:2vw;
  margin-right:2vw;
  height:auto;
  background-color: rgb(29,29,29);
  border-radius:25px;
  > div h2{
    font-size:54px;
    font-weight: 300;
     font-family: Open Sans, sans-serif !important;
     color:white;
     text-align: center;
  }
}
th.borderless , td.borderless{
  border:none !important;
}

th.borderless{
  color:white;
  font-size:30px;
  font-weight: 300;
font-family: Open Sans, sans-serif !important;
  padding-left:5vw;
}


.row {
   display: flex;
   flex-wrap: wrap;
}

.row > div[class*='col-'] {
  display: flex;
}
div.card{
  width:25vw;
  min-height:48vh;
  max-height:48vh;
  > div p{
    max-height:23vh;
    display: -webkit-box;
 -webkit-line-clamp: 6;
 -webkit-box-orient: vertical;
    overflow:hidden;
      text-overflow:ellipsis;
  }
  >div a{
    position:inherit;
    bottom:2vh;
    left:2vh;
  }
}


.flip {
  -webkit-perspective: 800;
          perspective: 800;
        position: relative;
        text-align: center;
        margin:2vw;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card {
    width: 270px;
    height: 178px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #fff;

}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
transform: rotateX(0deg);
}
.flip .card .front {
   position: absolute;
   width: 270px;
   z-index: 1;
}
.flip .card .img {

   position: relaitve;
   width: 270px;
   height: 178px;
   z-index: 1;
   border: 2px solid #000;
}
.flip .card .back {
  padding-top: 10%;
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card .inner{
  height:48vh;
  overflow:hidden;
  >img{
     margin:-6vh;
  }
}

div#workid{
  color:white;
  padding:5vh;
  >div p{
    margin:2vw;
  }
  div h4{
    font-weight: 300;
  font-family: Open Sans, sans-serif !important;
  }
}

/* Footer styles */
div#intro + div#foot{
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
text-align: center;
margin-top:5vh;
width: 100%;
color:lightgray;
 > div div#footer{
   background-color:transparent !important;
 }
}

div#footer{
   background-color:#434242;
    margin-top:5vh;
    text-align:center;
    width: 100%;
    color:lightgray;
}
div#footer p{
  margin-bottom:0vh;
}
div#footer h6{
  margin-top:0vh;
  padding-top:0vh;
  font-size:0.6em;
  text-align:center;
}
