/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

body { padding-top: 20vh;
        background-color:rgb(34,34,34);
}

@media only screen and (max-width: 500px) {
  div#intro{
    min-height:40vh;
  }

  div#front-page p{
    padding-left:10vw;
    padding-right:10vw;
    padding-top:10vh;
    text-align:center;
    font-family:monospace;
    color:white;
    font-size:1rem;
  }
}

section#top{
  width:100%;
  height:85vh;
  background-color:rgb(34,34,34);
}
.navbar{
  transition: height 0.1s;
}

.changenav{
  padding-top:0 !important;
}

nav#navtop{
  padding:30px 20px;
  padding-bottom:0 !important;
  background-color:rgb(34,34,34) !important;
  > a img{
    margin-left:2vw;
  }
  > div ul li.nav-item{
    margin:2vw !important;
  }
  > div ul li a.nav-link{
    text-align:center;
    color:lightgray !important;
    font-family: 'Open Sans', sans-serif !important;
  }
  > div ul li a.nav-link:hover, div ul li.nav-item a.nav-link.active{
    border-bottom-style:solid;
    border-bottom-color: white;
    border-bottom-width: thin;
  }

}

// Carousel fade transition
.carousel-fade {
	.carousel-item {
		display: block;
		position: absolute;
		opacity: 0;
		transition: opacity .75s ease-in-out;

		&.active {
			opacity: 1;
		}
	}
}


 // Custom styles for this pen
html,
body,
.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
}

div#carousel-top.carousel {
  position: absolute;
  top: 140px;
  left: 0;
  height:82%;
  >a{
    width:3%;
  }
}


a{
  text-decoration: none;
  color:lightgray;
}
a:hover{
    text-decoration: none;
    color:lightgray;
}

/*Front page styles */
div#plskills{
  float:left;
  img#mypic{
    margin-top:6vh;
    border-radius:50%;
    height:28vh;
  }
}
/*
div#intro{
  min-height:100vh;
}

div#bg-page{
  background: image-url('bg-front.jpeg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 0.8;
        position:fixed;
        width:100vw;
        height:100vh;
        top:0px;
        left:0px;
        z-index:-1
}


div#front-page{
  opacity:1 !important;
  z-index:0;
  top: 0;
  left:0;
  text-align:center;
  font-family:monospace;
  font-size:1.8rem;
}
div#front-page h1{

  margin-top:4vh;

}
div#front-page p{
  padding-left:10vw;
  padding-right:10vw;
  padding-top:10vh;
  text-align:center;
  font-family:monospace;
  color:white;
}
*/
/* Index Navbar */
/*
img#footer{
  width:28px;
}
li.nav-item{
      margin-left:10vw;
}

li.nav-item#right{
      margin-left:22vw;
}
li.nav-item#left{
      margin-left:15vw;
}

div#nav{
  height:65vh !important;
  padding-left:2vw;
  padding-right:2vw;
  padding-top:2vh;

}
div#navcarousel{
  background-color:#3498DB;/*:image-url('bg_car.jpg') no-repeat center center fixed;/*rgb(47,79,79);/*:image-url('bg_car.jpg') no-repeat center center fixed;*//*
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
i#mypic small{
    margin-left:-3vw;
}
div#mypic{
  position:absolute;
  top:22vh;
  left:44vw;
  z-index:1;
}
/*
div.carousel-item{
  height:40vh !important;
    overflow:hidden;
}
*/
div.carItem{
  width:100% !important;
  height:100% !important;
}

p#headerText{

font-family: 'Open Sans', sans-serif !important;
color:white;
padding-left:5vw;

font-size:2.5rem;
 float:left;
 width:45% !important;
}
img#imgCar{
  margin-top:20vh;
  float:left;
  bottom:0;
  padding-left:5vw;
  width:45% !important;
}
/*
div#bg-index{
  background-color: #ffffff ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 0.8;
        position:fixed;
        width:100vw;
        height:100vh;
        top:0px;
        left:0px;
        z-index:-1
}
*/
/* About Body */

div#about{
  background-color:rgb(221,221,221);
  height:85vh;
  text-align: center;
  >h2{

    font-size:54px;
    font-weight: 300;
  font-family: 'Open Sans', sans-serif !important;
  }
}
div#personal, div#connectme{
      font-family: 'Open Sans', sans-serif !important;
  >p{
    font-style:normal;
    margin-top:2vh;
    font-weight: bold;
    font-size:1.5rem;
    padding-bottom:0;
    margin-bottom:0;
  }
    font-style:italic;
  font-size:1rem;

}
div#personal{
  float:left;
  padding:0;
  text-align: right;
    width:42%;
}
div#connectme{
    width:35%;
  float:left;
  padding:0;
  text-align: left;
}
div#summary{

  text-align:center;
  color:black;
  border-radius: 25px;
   margin-left:9vw;
  width:80%;
  font-size:1rem;
  font-style:bold;
  font-size:54px;
  font-weight: 300;
font-family: 'Open Sans', sans-serif !important;
  >p{
      margin-top:43vh;
    text-align:justify;
    font-size:1rem;
    font-style:italic;
  }
}
h2#rightSlide{
  color:white;
  background-color:rgb(34,34,34);
  position:absolute;
  left:0;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
  padding:10px;
}
h2#leftSlide{
  color:white;
  background-color:#3498DB;
  position:absolute;
  right:0;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
  padding:10px;
}
div#skillcarousel, div#abilitySkills{
  height:85vh;
  >.carousel-inner{
    width:100%;
    height:100% !important;
    >.carousel-item{
      height: 100% !important;
      >img{

          max-height:100%;
          max-width: 100%;
      }
    }
  }
}
div#plskills{
  width:15%;
  border-radius:25px;

  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

}
.grid-item {
  padding: 20px;
  font-size: 30px;
}


/*ability section */

div#ability{
  background-color:rgb(34,34,34);
  color:white;
  text-align:center;
  height:85vh;
}
div#abilities h2{
      font-size:54px;
      font-weight: 300;
  font-family: Open Sans, sans-serif !important;
}
div#pl{
  margin-left:5vw;
  width:100%;

  >div#plHead{
    font-size:1.3rem;
    float:left;
    >img#pl{
      width:25px;
    }
  }
}

.progress{

  float:right;
  margin-right:10vw;
  margin-left:2vw;
  margin-top:1.8vh;
  width:15vw;
  height:1vh;

}



div#projlist::-webkit-scrollbar,div#projdesc::-webkit-scrollbar {
 display: none;
}
img#proj{
  height:80%;
  margin-top:5vh;
  margin-left:10vw;
}
div#projlist{
  overflow-y:scroll;
  padding:0;
  width:20%;
  float:left;
  background-color:rgb(51,51,51);
  text-align:center;
  height:85vh;
  color:white;
  font-family: "Lato";
  >div h2{
    font-family: "Roboto Slab", sans-serif !important;
    color:white;
    font-size:1.5rem;
    font-weight: 300;
    font-weight:bold;
  }
  >div#mheader{
    padding-top:3vh;
    padding-bottom:3vh;
    background-color:#2980B9;
  }
}
h5#tech, p#desc h5, p#info_link h5{
  font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif !important;
  font-weight: 700;
  text-align:left;
}
p#desc{
  text-align:justify;
}
div#projdesc{
  font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  >div h2{
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif !important;
    font-weight: 700;
    font-size:4rem;
    text-align:left;
  }
  >div{
    display:none;
  }
  overflow-y:scroll;
  float:left;
  text-align: left;
  width:90%;
  background-color:#fcfcfc;
  height:85vh;
}
/* sidemenu */
.list-group {
  background-color:rgb(51,51,51) !important;
	i.fa {
		margin-right: 10px;
	}
	.alt-highlight {
		border-top: 1px solid #7e9ba5;
	}
	 .list-group-submenu {
		a.list-group-item {
      text-align:right;
			background: rgb(31,31,31) !important;
      border-bottom: 0.5px solid lightgray;

	   }

	}
  //selected #c9c9c9
	// .themed-bg {
	// 	background: #7e9ba5!important;
	// }

	.list-group-submenu {

		font-size: 15px;
	}
	&.no-seperator {
		> .list-group-item {
			border-bottom: none;
		}
	}
	// speed up the collapse
	.collapsing {
		transition: height 0.3s;
	}
	// remove rounded corners
	.list-group-item:first-child,
	.list-group-item:last-child{
		border-radius: 0;
	}
	> .list-group-submenu {

		.list-group-submenu {
			a {
				.list-group-item {
          color:black;
					background: grey;
				}
				&.selected.themed-bg {
					background: #7e9ba5;
				}
			}
		}
		&.alt-background {
			a.list-group-item {
				background: #f5f5f5;
			}
			.list-group-submenu {
				a.list-group-item {
					background: grey !important;
				}
			}
		}
	}

	.list-group-item {
    background-color:transparent !important;


		&.active {
			// font-weight: bold;
			background: #fff;
			color: white;
      font-weight: bold;
			border-color: #eee;
      border:none;
      border-top: 0.5px solid lightgray;
			&.highlight {
				border-color: #29434e;
			}
		}
		&.selected {
			border-left: 4px solid #29434e!important;
			font-weight: bold;

		}
	}

	&.indicator-plus {
		a {
			&[data-toggle="collapse"] {
				// color: green!important;
				&:after {
					font-family: 'FontAwesome';
					content: "+";
					float: right;
					font-size: 12px;
					color: white;
				}
				&[aria-expanded="true"] {
					// background: goldenrod!important;
              background-color:#fcfcfc !important;
              color:#333;
					font-weight: bold;
					&:after {
              color:#333;
						content: "-";
					}
				}
			}
		}
	}

	&.indicator-fancy {
		a {
			&[data-toggle="collapse"] {
				// color: green!important;
				&:after {
					font-family: 'FontAwesome';
					content: "\f067";
					float: right;
					font-size: 12px;
					color: #333;
					transition: .25s ease-in-out;
				}
				&[aria-expanded="true"] {
					font-weight: bold;
					&:after {
						transform: rotate(180deg);
						content: "\f00d";
					}
				}
			}
		}
	}
}

/* WorkPage */
div#sidemenu{
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-color:white;
  border-top-style:solid;
  border-bottom-style:solid;
  border-right-style: solid;
  border-width: 0.5px;
  position:fixed;
  left:0vw;
  background-color: rgb(29,29,29);
  z-index: 3;
  >ul#smenu{
    display:none;
  }
  >ul li {
   margin-left:1vw;
  }
}

div#work , div#workid{
  height:85vh;
background-color:#fcfcfc;

  > h2{

    color:black;
    font-size:54px;
    font-weight: 300;
     font-family: Open Sans, sans-serif !important;

     text-align: center;
  }
}
th.borderless , td.borderless{
  border:none !important;
}

th.borderless{
  color:black;
  font-size:30px;
  font-weight: 300;
font-family: Open Sans, sans-serif !important;
  padding-left:5vw;
}


.row {
   display: flex;
   flex-wrap: wrap;
}

.row > div[class*='col-'] {
  display: flex;
}
div.card{
  color:black;
  width:25vw;
  min-height:48vh;
  max-height:48vh;
  > div p{
    max-height:23vh;
    display: -webkit-box;
 -webkit-line-clamp: 6;
 -webkit-box-orient: vertical;
    overflow:hidden;
      text-overflow:ellipsis;
  }
  >div a{
    position:inherit;
    bottom:2vh;
    left:2vh;
  }
}


.flip {
  -webkit-perspective: 800;
          perspective: 800;
        position: relative;
        text-align: center;
        margin:2vw;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card {
    width: 270px;
    height: 178px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: darkgrey;

}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
transform: rotateX(0deg);
}
.flip .card .front {
   position: absolute;
   width: 270px;
   z-index: 1;
}
.flip .card .img {

   position: relaitve;
   width: 270px;
   height: 178px;
   z-index: 1;
   border: 2px solid #000;
}
.flip .card .back {
  padding-top: 10%;
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card .inner{
  height:48vh;
  overflow:hidden;
  >img{
     margin:-6vh;
  }
}

div#workid{
  color:white;
  padding:5vh;
  text-align:center;
  >div div#breadcrumbs{
    left:4vw;
    position:absolute;
  }
  >div p{
    margin:2vw;
  }
  div h4{
    font-weight: 300;
  font-family: Open Sans, sans-serif !important;
  }
}

/* Contact page */
div#contact{
  background-color:rgb(34,34,34);
  height:90vh;
  color:white;
  >h2{
    padding-top:2vh;
    font-size: 54px;
    text-align:center;
    font-weight: 300;
    font-family: Open Sans, sans-serif !important;
  }
  >p{
    text-align:center;
  }
}

div#contactAlert{
  text-align:center;
  width:80%;
}
div#map{
  float:right;
  width:50%;
  > iframe{
    margin-top:12vh;
    width:80%;
    height:50vh;
  }

}
div#msg{
    height:50%;
    margin:10vh;
    margin-top:0;
      > form div input,form div textarea{
    color:white;
    background-color:rgb(31,31,31);
  }
  > form div input{
    margin-bottom:2vh;
  }
  > form div textarea{
    overflow-y:hidden;
  }
  >form input#btnmsg{
    margin-top:2vh;
    margin-left:43%;
    border:none;
    background-color:rgb(51,51,51);
    font-family: "Roboto Slab", sans-serif !important;
    font-size:1.3rem;
  }
  >form div#result{
    font-family: "Open Sans", sans-serif !important;
    margin-top:3vh;
    margin-left:3vw;
    font-size:0.8rem;
  }
  >img, p{
    text-align:center;
  }
  >img{
    width:200px;
    margin-left:41%;
  }
}

/* Footer styles */
div#intro + div#foot{
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
text-align: center;
margin-top:5vh;
width: 100%;
color:lightgray;
 > div div#footer{
   background-color:transparent !important;
 }
}

div#footer{
   background-color:#434242;
    margin-top:5vh;
    text-align:center;
    width: 100%;
    color:lightgray;
}
div#footer p{
  margin-bottom:0vh;
}
div#footer h6{
  margin-top:0vh;
  padding-top:0vh;
  font-size:0.6em;
  text-align:center;
}
