// Place all the styles related to the ProgrammingLs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

div.admin_page{
  width:100%;
  padding:1vw;
  position:absolute;
  top:0 !important;
  >h1{
    color:white;
  }
  >p, label{
    color:white;
  }
  >form{
    font-size:1.5rem;
    >div.field input, div.field label {
      text-align: center;
    }
    text-align:center;
  }
}

td#cut{
  overflow: hidden;
  text-overflow: ellipsis;
}

button#back{
  position:absolute;
  top:3vh;
  right:1vw;
}
