<!DOCTYPE html>
<html>
  <head>
    <title>Profile: Rui Rafael Rosillas</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Lato|Roboto+Slab:300,600,700" rel="stylesheet" type="text/css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>

  <body data-spy="scroll" data-target="#navbarSupportedContent" data-offset="110">

      <%= yield %>

  </body>
</html>
